.App {
  text-align: center;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.input-section {
  display: flex;
}

.card {
  border: 1px solid #eee;
  box-shadow: 4px 4px 5px #eee;
  border-radius: 8px;
  padding: 2em;
  margin: 2em;
  width: -webkit-fill-available;
}
