.App {
  text-align: center;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.input-section {
  display: flex;
}

.card {
  border: 1px solid #eee;
  box-shadow: 4px 4px 5px #eee;
  border-radius: 8px;
  padding: 2em;
  margin: 2em;
  width: -webkit-fill-available;
}

.loader-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.loader-container img {
  width: 25%;
  max-width: 200px;
}

.no-padding-card {
  padding: 0 !important; /* override the default Card padding */
}
